[tool.poetry]
name = "pytest-helm-charts"
version = "0.2.1"
description = "A plugin to provide different types and configs of Kubernetes clusters that can be used for testing."
authors = ["Łukasz Piątkowski <lukasz@giantswarm.io>"]
license="Apache-2.0"
repository="https://github.com/giantswarm/pytest-helm-charts"
readme="README.md"
keywords=["kubernetes","helm","chart"]
include = ["CHANGELOG.md","DCO"]
packages = [
    { include = "pytest_helm_charts/**/*.py" },
]
classifiers=[
    'Development Status :: 4 - Beta',
    'Framework :: Pytest',
    'Intended Audience :: Developers',
    'Topic :: Software Development :: Testing',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: Implementation :: CPython',
    'Operating System :: POSIX :: Linux',
    'License :: OSI Approved :: Apache Software License',
]

[tool.poetry.plugins] # Optional super table

[tool.poetry.plugins."pytest11"]
"helm-charts" = "pytest_helm_charts.plugin"

[tool.poetry.dependencies]
python = "^3.7"
pytest = "^6.1.2"
pykube-ng = "^20.10.0"
mkdocs = {version = "^1.1.2", optional = true }
mkapi = {version = "^1.0.10", optional = true}

[tool.poetry.dev-dependencies]
autopep8 = "^1.5.2"
tox = "^3.20.1"
tox-pyenv = "^1.1.0"
pytest-mock = "^3.3.1"
flake8 = "^3.8.3"
mypy = "^0.790"
pytest-cov = "^2.10.1"
bandit = "^1.6.2"
black = "^20.8b1"
pre-commit = "^2.8.1"

[tool.poetry.extras]
docs = ["mkdocs", "mkapi"]

[tool.black]
line-length = 120
target-version = ['py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
