name: Test (and Release)

on:
  merge_group:
    types: [checks_requested]
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  create:
    tags:
      - "*"

jobs:
  release:
    needs: test
    runs-on: ubuntu-latest
    env:
      UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      - name: Python check version
        run: python --version
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - name: Build project
        run: uv build
      - name: Publish to PyPI
        run: uv publish

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
      - name: Install tox and tox-uv
        run: uv tool install tox --with tox-uv
      - name: Python check version
        run: python --version
      - name: Restore pre-commit cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ matrix.python-version }}-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            pre-commit-${{ matrix.python-version }}-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Run code quality tools
        run: uv run pre-commit run --all-files
      - name: Run pytest
        run: uv run python -m pytest --cov=pytest_helm_charts/ --cov-report=xml --log-cli-level=info tests/
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          env_vars: OS,PYTHON
